.slide-in-left {
  animation: slideInLeft 0.35s ease-out forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.slide-in-right {
  animation: slideInRight 0.35s ease-out forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-top {
  animation: slideInTop 0.35s ease-out forwards;
}

@keyframes slideInTop {
  from {
    transform: translateY(24px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.slide-in-bottom {
  animation: slideInBottom 0.35s ease-out forwards;
}

@keyframes slideInBottom {
  from {
    transform: translateY(-24px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

